body {
  font-size: .875rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 55px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #fff !important;
  background-color: #0375B4;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

@media (max-width: 768px) {
  [role="main"] {
    padding-top: 95px; /* Space for fixed navbar */
  }
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 55px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

/* Adjust padding here based on logo size */
.navbar-brand-img {
  padding-right: 10px;
}

.navbar-nav .nav-link {
  padding: .5rem 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1001;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #262228;
}
